.fsn{

   background: rgb(177, 248, 209);
   
   .second-year{
      .main-header{

         .p-1{
            color: rgb(22, 108, 179);
            font-size: 40px;

            @media screen and (max-width: 768px) {
               font-size: 25px;               
            }
         }
         

         .number{
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            background:rgb(150, 175, 162);
            margin-left: 10px;
         }
      }

      .contents{
         .subjects{
            ol{
               li{
                  a{
                     color:rgb(9, 17, 27);
                  }
               }
            }
         }
      }
   }
}