.banner{
   padding-top: 50px;
   padding-bottom: 60px;

   .container{
      h3{
         .sp{
            font-family: oswald, sans-serif;
            font-size: 16px;
            color: rgb(93, 107, 126);
         }
      }

      .video{
         iframe{
            border-bottom-right-radius: 80px;
         }
      }
   }


   .corner-image{
      position: relative;

      .img-p{
         position: absolute;
         height: 500px;
         right: -10px;
         top: -200px;


         @media (max-width: 767px){
            height: 200px;
            right: -12px;
            top: -45px;
         }
      }
   }

}

