.fsn{

   background: url(../images/m_bg.jpg) no-repeat center center/cover fixed;
  
   .second-year{
      .container{
         margin-top: 10px;
         background: rgba(233, 233, 233, 0.466);
         border-radius: 18px;
        
         

         .main-header{

            .p-1{
               color: rgb(22, 108, 179);
               font-size: 40px;

               @media screen and (max-width: 768px) {
                  font-size: 25px;               
               }
            }
            

            .number{
               font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
               background:rgb(150, 175, 162);
               margin-left: 10px;
            }
         }


         .contact-cr{
            background: rgba(24, 62, 105, 0.493);
            border-radius: 1rem;
            color: #fff;

            
         }

         .notice-board{
            background: rgba(43, 110, 82, 0.521);
            border-radius: 1rem;
            height: 45vh;
            overflow-y: scroll;

            td, td, th{
               color: #fff;
            }
         }

         .subject-card-section{

            .card-items{
               .card{
                  overflow: hidden;
                  height: 100%;
                  background: #2c92acb2;
                  border-radius: 1rem;
                  box-shadow: 0px 0px 5px 3px rgb(126, 221, 97);
         
                  .card-image{
                     object-fit: contain;

                     @media screen and (max-width: 550px) {
                        margin: auto;
                        width: 100px;
                        height: 100px;
                     }
                  }

                  .card-text{
                     text-align: center;

                     h2{
                        padding: 10px 0px;
                        color: #fff;
                        font-size: 30px;

                        @media screen and (max-width: 550px) {
                           font-size: 15px;
                        }
                     }
                  }

               }
            }
         }

         .video{
            border-radius: 1rem;
            overflow: hidden;
            box-shadow: 0px 0px 5px 3px rgb(126, 221, 97);
            margin: 0;
            padding: 0;
         }

         .contents{
            .subjects{
               ol{
                  li{
                     a{
                        color:rgb(9, 17, 27);
                     }
                  }
               }
            }
         }
      }
   }
}